:root {
    --text: #2B124C;
    --background: #fbe5da;
    --primary: #dfb6b3;
    --secondary: #86506d;
    --accent: #512a5a;
}
a:hover {
    opacity: 60%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--primary);
    overflow-x: hidden;
}

button {
    background-color: var(--primary);
    border: 0.5px solid var(--accent);
    color: var(--text);
    border-radius: 15px;
    font-size: 16px;
    margin-right: 6px;
    width: 80px;
    height: 30px;
}
button:hover {
    background-color: var(--secondary);
}
#buttons {
    /*width: 10%;*/
    margin: auto 30px auto 0;
    /*margin: auto;*/
}

header {
    width: 100%;
    height: 80px;
    background: linear-gradient(var(--primary) 5%, var(--background) 60%);;
    display: flex;
    justify-content: space-between;
}

h1:first-of-type {
    font-size: 33px;
    color: var(--text);
    /*color: red;*/
}

#logo {
    margin: 4px;
    border: 0.5px solid var(--accent);
    border-radius: 40px;
    width: 70px;
    height: 70px;
    background-color: var(--accent);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVyI0Ry1l7kvDfypXZ9DjCVFUZ6S87LuEZ_w&usqp=CAU");
    background-size: contain;
    background-repeat: no-repeat;
}

#banner {
    width: 100%;
    height: 500px;

    background-color: var(--background);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/00/Burne-Jones_Last_Sleep_of_Arthur_in_Avalon_v2.jpg");*/

    opacity: 80%;
}
#sali {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    background: linear-gradient(var(--background) 20%, var(--primary)80%);
    padding: 0px 10px;
}
.sala {
    height: 100%;
    width: 100px;

    /*background: aqua;*/
    padding-top: 12px;

    /*border-right: 3px solid black;*/

    color: var(--text);
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
}
.sala:first-child {
    /*border-left: 3px solid black;*/
}
.sala > p {
    font-size: 16px;
    color: var(--accent);
}
.sala:hover {
    opacity: 40%;
}

.borderSala {
    display: flex;
    justify-items: center;
    justify-content: center;
    height: 60px;
    border: 1px solid var(--accent);
    box-shadow: 5px 5px 10px var(--text);
}

#main {
    display: flex;
    width: 100%;
    height: 550px;
    border: 2px solid var(--accent);
}
#movieInfo {
    width: 37%;
    background: var(--secondary);
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px var(--text);
    margin: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Optional: Center text within the div */

    font-weight: bold;
    color: var(--text);
    font-size: 28px;
}
#movieInfo ul {
    font-size: 22px;
}

#chairs {
    /*margin-left: 300px;*/

    width: 38%;
    background: var(--primary);

    align-items: center;
    justify-content: center;
    justify-items: center;
    display: flex;
}
#cost {
    width: 25%;
    background: var(--secondary);
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px var(--text);
    margin: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Optional: Center text within the div */
}

.zafatenaChairJas {
    background-image: url("https://cdn-icons-png.flaticon.com/512/1683/1683758.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
}
.zafatenaChair {
    background-image: url("https://cdn-icons-png.flaticon.com/512/1683/1683758.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
    filter: brightness(70%);
}

.nezafatenaChair {
    background-image: url("https://cdn-icons-png.flaticon.com/512/1683/1683758.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    filter: brightness(15%);
    display: inline-block;
}
.nezafatenaChair:hover {
    filter: brightness(50%);
}
#place {
    /*background: red;*/
    width: 80%;
    height: 80%;
}

#cost h2 {
    font-weight: bold;
    font-size: 34px;
    text-decoration: underline;
    color: var(--text);
    width: 18%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

#pari {
    font-weight: bold;
    font-size: 45px;
    color: var(--text);
    width: 40%;
    margin: auto;
}

#plati {
    margin-bottom: 50px;
}
#plati button {
    font-size: 24px;
    width: 100px;
    height: 50px;
}
#plati button:hover {
    background-color: var(--background);
}
